LinkML JSON Schema Generator - Incorrect Type Conversion

**Describe the bug**
The LinkML JSON Schema generator incorrectly translates `custom data types` such as `rdf:langString` and specific URI-related types (`uri, uriorcurie`) always to to simple `"type": "string"` types in the generated JSON schema.
For instance, the following LinkML schema, 
```
classes:
  supportContact:
    description: >-
      Provides information about the TD maintainer as URI scheme (e.g., <code>mailto</code> [[RFC6068]],<code>tel</code> [[RFC3966]],<code>https</code> [[RFC9112]]).
    range: uriorcurie
    from_schema: schema:contactPoint
```
generates the following JSON Schema snippet

"supportContact": {
                    "description": "Provides information about the TD maintainer as URI scheme (e.g., <code>mailto</code> [[RFC6068]],<code>tel</code> [[RFC3966]],<code>https</code> [[RFC9112]]).",
                    "type": "string"
                }

The same is true when I try to define `customised data types`, for instance:
```
types:
  languageString:
    base: rdf:langString
    uri: rdf:langString
    structured_pattern:
      syntax: "{text}@{tag}"
slots:
  title:
    description: >-
      Provides a human-readable title (e.g., display a text for UI representation) based on a default language.
    range: languageString
    required: true
    slot_uri: td:title
```

In this case, the generated JSON Schema is, 
```
"title": {
                    "description": "Provides a human-readable title (e.g., display a text for UI representation) based on a default language.",
                    "type": "string"
                }
```
while ignoring the range:languageString

**To Reproduce**
My environment is follows:
python = "^3.11"
linkml-runtime = "^1.8.0rc2"
linkml = "^1.8.0rc2"

I use the the following code snippet for generating the JSON Schema from the LinkML schema:
```
from linkml.generators.jsonschemagen import JsonSchemaGenerator

json_schema_generator = JsonSchemaGenerator(YAML_SCHEMA_PATH, mergeimports=True)
(output_dir / 'jsonschema.json').write_text(json_schema_generator.serialize())
```

**Expected behavior**
The JSON Schema generator should be updated to handle custom types and specific URI-related types correctly, ensuring that the generated schema accurately reflects the defined types in the LinkML model.

**Additional context**
I also use other generators like SHACL shapes, and there the types are correctly converted.


What would you expect?

JSON-Schema knows the [URI string format](https://json-schema.org/understanding-json-schema/reference/string#resource-identifiers), but I don't see that it knows the CURIE string format. Specifying simply `string` is the easiest approach, but probably not the most robust one, right?

I suppose that something like following might make sense to have finer-grained control on the values:
```
{
    "anyOf": [
        { "type": "string", "format": "uri" },
        { "type": "number", "pattern": <CURIE regular expression> }
    ]
}
```

You're right that JSON Schema natively supports the `uri `format but doesn't have built-in support for `CURIE`s. The proposal for how a LinkML type with `uriorcurie` should look like is a good suggestion.  

As a summary, we expect that LinkML's JSON Schema generator should produce the following snippets depending on the `range` specified:

1. `URI`: For `uri` types, we can leverage the existing JSON Schema [format keyword](https://json-schema.org/understanding-json-schema/reference/string#built-in-formats) to ensure proper validation of URI strings: 
```
{
  "supportContact": {
    "type": "string",
    "format": "uri"
  }
}
```
2. `CURIE`: For `curie`, we can use a regular expression pattern to validate the `CURIE` format:
 ```
{
  "supportContact": {
    "type": "string",
    "pattern": <CURIE regular expression>
  }
}
```
3. `URI` or` CURIE`: For `uriorcurie`, we can use the `anyOf` keyword to allow either a `URI `or a `CURIE`:
{
  "supportContact": {
    "anyOf": [
      {
        "type": "string",
        "format": "uri"
      },
      {
        "type": "string",
        "pattern": <CURIE regular expression>
      }
    ]
  }
}
